.Homepage {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Homepage-logo {
  margin-top: 100px;
  height: 30vh;
  align-self: center;
  justify-content: center;
}

.Homepage-header {
  margin-top: 20px;
  font-size: calc(20px);
  color: white;
  justify-content: center;
}

@media screen and (max-width:480px) {
  .Homepage-logo {
    height: 12vmax;
    margin-top: 100px;
    align-self: center;
  }
}